.spot-box {
    position: relative;
    z-index: 3;

    &__content {
        left: 40%;
        width: 380px;
        padding: 30px;
        background-color: white;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        box-shadow: 0px 5px 12px 3px #e0e0e0;
    }
    &__title, &__text {
        margin: 0;
    }
    &__title {
        font-size: 72px;
    }
    &__text {
        font-size: 16px;
        font-style: italic;
    }
    &__button {
        float: right;
    }
}