.spot-box {
    position: relative;
    z-index: 3;

    > .container {
        position: relative;
    }
    &__inner {
        display: flex;
        justify-content: flex-end;
    }

    &__content {
        width: 380px;
        padding: 30px;
        background-color: white;    
        transform: translateY(-50%);
        box-shadow: 0px 5px 12px 3px #e0e0e0;
    }
    &__title, &__text {
        margin: 0;
    }
    &__title {
        font-size: 72px;
        font-weight: bold;
    }
    &__text {
        font-size: 16px;
    }
    &__button {
        float: right;
    }
}