.site-header {
    height: 100px;
    width: 100%;
    border-bottom: 3px solid #d0d0d0;

    > .container {
        height: 100%;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 100%; 
        
    }

    &__button {
        display: inline-flex;
        align-content: center;
    }
    
    &__button  {
        width: 30px;
        height: 30px;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.site-navigation {
    display: inline-flex;
    align-content: center;

    &__item {
        margin-left: 10px;
        text-decoration: none;
        color: #000000;
        font-size: 14px;

        &:first-child {
            margin-left: 0;
        }
    }
}